{
    "extends": [
        "airbnb-base"
    ],
    "env": {
        "node": true,
        "es6": true,
        "browser": true
    },
    "rules": {
        "no-console": "off",
        "indent": [
            "error",
            4
        ],
        "import/extensions": "off"
    }
}