.game-engine-component {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .sides {
    background: url('../images/frame_sides.png') center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
  }

  .bottom {
    position: fixed;
    bottom: -5px;
    min-height: 60px;
    background: url('../images/frame_bottom.png') center no-repeat;
    background-size: 100% 100%;
    width: 100%;

    .labels {
      display: flex;

      margin-bottom: 5px;
      height: 100%;
      width: 100%;
      justify-content: space-around;
      align-items: center;

      p {
        user-select: none;
        font-family: "Comfortaa", cursive;
        font-weight: 700;
        font-size: 30px;

        &:nth-child(1) {
          $residual-col: #474763;
          text-shadow: 0px 0px 1px white, 0px 0px 4px $residual-col, 0px 0px 4px $residual-col, 0px 0px 4px $residual-col;
        }

        &:nth-child(2) {
          $yellow-col: #ffc400;
          text-shadow: 0px 0px 1px white, 0px 0px 4px $yellow-col, 0px 0px 4px $yellow-col, 0px 0px 4px $yellow-col;
        }

        &:nth-child(3) {
          $organic-col: #7d5c42;
          text-shadow: 0px 0px 1px white, 0px 0px 4px $organic-col, 0px 0px 4px $organic-col, 0px 0px 4px $organic-col;
        }
      }
    }
  }
}

